
.jumbotron{
  text-align: center;
background-image: url('../img/Ping.jpg');
height: 500px;
width: 1800px;
}

.container{
background-image: url('../img/pine wood.jpg');
width: 1800px;
height: 600px;
}


.ppp{
  background-color: #7FFFD4;
}

h2{
  font-size: 35px;
  font-family: 'Frank Ruhl Libre', serif;
}

.mmm{
  background-color: white;
  font-size: 25px;
font-family: 'Frank Ruhl Libre', serif;
padding-right: 0px;
}

.input{
  width: 200%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.footer{
  background-color: white;
  font-style: italic;
  text-align: center;
  font-color: red;
  font-size: 35px;

}
